:root {
  --violet: hsl(263, 55%, 52%);
  --dark-grayish-blue: hsl(217, 19%, 35%);
  --dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.3rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  background-color: var(--light-grayish-blue);
  position: relative;
  padding: 5rem 0 11rem 0;
  line-height: 1.3;
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
  background-color: var(--violet);
  font-weight: 600;
  color: var(--white);
}

.attribution a {
  color: var(--white);
}

@media screen and (min-width: 1200px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
}

.wrapper {
  width: 32.5rem;
  margin: 0 auto;
}

.card {
  border-radius: 1rem;
  overflow: hidden;
  margin: 3.5rem 0;
  padding: 3rem;
  color: var(--white);
  box-shadow: 10px 10px 15px 0px var(--dark-grayish-blue);
}

.card:nth-child(2n + 3) {
  color: var(--dark-blackish-blue);
}

.card:nth-child(1) {
  background-color: var(--violet);
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top right 2.5rem;
}

.card:nth-child(2) {
  background-color: var(--dark-grayish-blue);
}

.card:nth-child(3) {
  background-color: var(--white);
}

.card:nth-child(4) {
  background-color: var(--dark-blackish-blue);
}

.card:nth-child(5) {
  background-color: var(--white);
}

.card__user {
  display: grid;
  align-items: center;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.card__title {
  font-weight: 600;
}

.card__subtitle {
  opacity: 50%;
}

.card__review {
  opacity: 70%;
}

.card__img {
  border-radius: 50%;
  grid-row: 1/3;
  height: 4rem;
}

.card__quote {
  margin: 2rem 0;
  font-size: 1.8rem;
  font-weight: 600;
}

@media screen and (min-width: 1200px) {
  .wrapper {
    width: 110rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3.5rem;
  }

  .card {
    margin: 0;
  }

  .card:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/3;
    background-position: top right 8.5rem;
  }

  .card:nth-child(2) {
    grid-row: 1/2;
    grid-column: 3/4;
  }

  .card:nth-child(3) {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .card:nth-child(4) {
    grid-row: 2/3;
    grid-column: 2/4;
  }

  .card:nth-child(5) {
    grid-row: 1/3;
    grid-column: 4/5;
  }
}
